button, .button {
    border:1px solid $white;
    background-color: $black;
    display: inline-block;
    color: $white;
    text-decoration: none;
    @include rem(font-size, 1);
    text-transform: uppercase;
    @include rem(padding, 1, 2);
    @include rem(letter-spacing, 0.2);
    font-weight: border;
    &:hover {
        background-color: $white;
        border:1px solid $black;
        color: $black;
    }
}