body {
    font-size: 10px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    background-color: $black;
    color:$white;
}

h1 {
    @include rem(margin, 2, 0);
    font-family: Abril Fatface;
    @include rem(font-size, 3);
    @include rem(line-height, 2.5);
    @include mq(tablet){
        @include rem(font-size, 5);
        @include rem(line-height, 4);
    }
    font-weight: 400;

    @include rem(letter-spacing, 0);
}

h2 {
    @include rem(font-size, 2);
    color: $medium-grey;
    border-bottom:1px dashed;
    @include rem(padding-bottom, 0.5);
    @include mq(tablet){
        @include rem(font-size, 3);
    }
    text-transform: uppercase;
}

h3 {
    @include rem(font-size, 1.5);
    @include mq(tablet){
        @include rem(font-size, 2);
    }
}

p {
    @include rem(font-size, 1.3);
    color: $light-grey;
}

a {
    color:$grey;
    cursor: pointer;
    &:hover {
        color:$white;
    }
}