.albums-wrapper {
     @include rem(margin, 3, 0);
}

.albums {
    .album {
        @include rem(line-height, 2);
        @include rem(margin-bottom, 2);
        @include mq(tablet){
            float: left;
            width: 33.333333%;
        }
        .player {
            display: inline-block;
            width: 150px;
            height: 150px;
            background-size: contain;
            @include rem(margin, 1, 0);
            @include rem(font-size, 3);
            text-align: center;
            line-height: 150px;
            color:$black;
            &:before {
                content:"\25BA";
                background-color:$grey;
                opacity: 0.5;
                display: block;
                color:$white;
            }
            &.active {
                &:before {
                    content: "\2587";
                    opacity: 1;
                    background-color: transparent;
                }
            }
            &:hover:before {
                color: $white;
                opacity: 1;
                background-color:transparent;
            }
        }
        .name {
            @include rem(font-size, 1.5);
        }
        .artist {
            text-transform: uppercase;
        }
        .genre {
            color:$grey;
            @include rem(line-height, 1);
        }
    }
}