<div class="albums">
    <h2>{{@part name}}</h2>
    {% for album in albums %}
    <div class="album">
        <a class="player" data-track="{{@part album.track}}"></a>
        <div class="name">{{@part album.name}}</div>
        <div class="artist">{{@part album.artist}}</div>
        <div class="genre">{{@part album.genre}}</div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>