.menu {

    ul {
        list-style: none;
        margin:0;
        padding:0;
        display: none;
        width:100%;
        @include mq(tablet){
            display: table;
            table-layout: fixed;
        }
        li {
            display: block;
            @include mq(tablet){
                display: table-cell;
            }
            a {
                @include rem(line-height, 3);
                @include rem(font-size, 0.8);
                @include rem(letter-spacing, 0.2);
                background-color: $black;
                text-decoration: none;
                display: block;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
        }
        li + li {
            border-left:0;
            border-top: 1px solid $grey;
            @include mq(tablet){
                border-left: 1px solid $grey;
            }
        }
    }
    &.open {
        background-color: $black;
        position: fixed;
        height:100%;
        width:100%;
        top:0;
        left:0;
        @include mq(tablet){
            position: static;
            height: inherit;
        }
        ul {
            display: block;
            @include mq(tablet){
                display: table;
            }
        }
    }
}