<!doctype html>
<html class="no-js" lang="">
    {% include "./src/parts/head.html" %}
    <body>
        <div class="body">
            <div class="row">
                <div class="col">{% include "./src/parts/menu.html" %}</div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content">
                        <h1>{{@page name }}</h1>
                        {% autoescape false %}{{@page content }}{% endautoescape %}
                        {% include "./src/parts/albums.html" %}
                        <div class="row">
                            <div class="col">{% include "./src/parts/news.html" %}</div>
                            <div class="col">{% include "./src/parts/services.html" %}</div>
                            <div class="col">{% include "./src/parts/team.html" %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "./src/parts/footer-scripts.html" %}
    </body>
</html>