<!doctype html>
<html class="no-js" lang="">
    {% include "./src/parts/head.html" %}
    <body>
        <div class="splash row">
            <div class="col">
                <h1>{{@property company}}</h1>
                <a href="/home.html" class="button">enter</a>
            </div>
        </div>
        {% include "./src/parts/footer-scripts.html" %}
    </body>
</html>