/*styling*/
body {
    font-size: 1.4rem;
    font-family: "Arial", "Lucida Grande", sans-serif;
    background-color: var(--black);
    color:var(--white);
}

h1 {
    margin:2rem 0;
    font-family: "Abril Fatface";
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing:0;
}

h2 {
    font-size: 2rem;
    color: var(--medium-grey);
    padding-bottom: 0.5rem;
    border-bottom:1px dotted var(--grey);
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.6rem;
    color: var(--light-grey);
}

a {
    color: var(--grey);
    cursor: pointer;
}

a:hover {
    color:var(--white);
}

blockquote {
  background: var(--grey);
  border-left: 1rem solid var(--light-grey);
  margin: 0;
  padding: 2rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote span {
    color: var(--black);
}
blockquote:before {
  color: var(--light-grey);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*mutators*/

/*adjustments*/
.text-right {
    text-align: right;
}


@media (--tablet-viewport){
    h1 {
        font-size: 5rem;
        line-height: 4rem;
    }
    h2 {
        font-size:3rem;
    }
    h3 {
        font-size: 2rem;
    }
}